* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url(../img/body.jpg);
  height: 100vh;
  user-select: none;
}
label {
  color: blue;
}
table {
  text-align: center;
}
.card {
  width: 500px;
  margin: 50px auto;
}
.card2 {
  width: 700px;
  margin: 0 auto;
}
#validate,
#validate2,
#validate3 {
  color: red;
}
@media screen and (max-width: 800px) {
  .card2 {
    width: 100%;
  }
}
@media screen and (max-width: 550px) {
  .card {
    width: 100%;
    margin-bottom: 10px;
  }
}
